# Kredensial Google Service Account (didapat dari file JSON yang diunduh)
GOOGLE_CLIENT_EMAIL="nama-service-account@nama-project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nISI_PRIVATE_KEY_ANDA\n-----END PRIVATE KEY-----"

# ID dari folder "Nexus Notes Database" di Google Drive
GOOGLE_DRIVE_FOLDER_ID="id_folder_drive_anda"

# ID dari file "db.json" yang baru Anda buat di dalam folder tersebut
GOOGLE_DRIVE_DB_FILE_ID="id_file_db_json_anda"
